<!DOCTYPE html>
<html>

    <head>
        <title>My to-do list!</title>
        <link rel="stylesheet" href="../static/style.css">

    </head>
    <body>
        <div class="loginbox">
      <h1>My to-do list</h1>
      
        
        <form>
            <label>
             &nbsp;&nbsp;&nbsp;&nbsp; Task Name:
             <input type="text" placeholder="Go shopping">
            </label>
            <button type="button">
              Add a to-do task
            </button>
            <button type="button">
              Delete to do task
            </button>
            <button>
              Delete to do list
            </button>
          
          </form>
          

               <label>
                <input type="checkbox">
                Taking coffee
              </label>
            
            
              <label>
                <input type="checkbox">
                playing soccer
              </label>
            
            
              <label>
                <input type="checkbox">
                Reading a book
              </label>
            
          <h2>Manage your to-does with fun,enjoy yourself to the fullest.</h2>
          <a href="login.html">Logout</a>
          </div>

    </body>
</html>