<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Bekalaze">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My to-do list!</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="loginbox">
          <!--Customised to-do list-->
      <h1>My to-do list</h1>
        <form>
           

            <label>
                <button type="button">
                    Add a to-do task
                  </button><br><br>
             &nbsp;&nbsp;&nbsp;&nbsp; Task Name:
             <input type="text" placeholder="Go shopping">
            </label><br><br>
            
            
        <label>
              <button>
                  Delete to-do
                </button><br><br>
        </label><br><br><br>
            
        </form>
        </div>
        
        <div class="loginbox2">
          <!--Customised to-do list-->
      <p>My<em> to-do</em> list</p>
    
            <ul>
                <li> <input type="checkbox">
                 Taking coffee </li>
                <li><input type="checkbox">
                 playing soccer</li>

                </li> <input type="checkbox">
                 Reading a book</li>
                 <li><input type="checkbox">
                 Go shopping</li>     
            </ul>
            <button>
              Delete to-do list
            </button>
              <a href="login.html">Signout</a>
        </div>

        <h2>Manage your to-does with fun,enjoy yourself to the fullest.</h2>
    </body>
</html>