<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Bekalaze">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My to-do list!</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="loginbox">
          <!--Customised to-do list-->
      <h1>My to-do list</h1>
        <form>
            <label>
                <input type="checkbox">
                Taking coffee
                <input type="checkbox">
                playing soccer

                <input type="checkbox">
                Reading a book
              </label><br><br>

            <label>
             &nbsp;&nbsp;&nbsp;&nbsp; Task Name:
             <input type="text" placeholder="Go shopping">
            </label>
            <button type="button">
              Add a to-do task
            </button><br><br><br>
            
          <label>
             &nbsp;&nbsp;&nbsp;&nbsp; Task Name:
             <input type="text" placeholder="Go shopping">
            
            <button type="button">
              Delete a task  
            </label><br>
            <button>
              Delete to-do list
            </button>
          </label>
             

            
          </form><br><br>
         
          
          <a href="login.html">Signout</a>

        </div>
        <h2>Manage your to-does with fun,enjoy yourself to the fullest.</h2>


    </body>
</html>