<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="Bekalaze">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My to-do!</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
            <h2>Welcome to my to-do list<strong> App</strong> feel at home!</h2>
        
            <div class="loginbox">
        <!--creating a form-->
        
            
            <form>
                <label>
                        <h1>Login Here</h1>  
                <p>Username</p>
                <input type="text" name="name" placeholder="Bekalaze joseph">
                </label>
                <p>password</p>
                <input type="password" name="password" placeholder="Enter password">
                <a href="lists.html" class=>Login</a><br><br>
                <a href="Reset.html">Lost your password?</a><br><br>
                <a href="signup.html">Create account</a>
            </form>
        </div>
        
    </body>
</html>