<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="Bekalaze">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My to-do!</title>
        <link rel="stylesheet" href="../static/style.css">
        
    </head>
    <body id="main">
        <p class="header">Welcome to my<strong> to-do list</strong> App feel at home!</p>
        <div class="loginbox">
            <h1>Login Here</h1>
            
            <form>
                <label>
                <p>Username</p>
                <input type="text" name="name" placeholder="Bekalaze joseph">
                </label>
                <p>password</p>
                <input type="password" name="password" placeholder="Enter password">
                <a href="lists.html" class="btn">Login</a>
                <a href="#">Lost your password?</a><br/>
                <a href="signup.html">Dont have an account?</a>
            </form>
        </div>
    </body>
</html>