
<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="Bekalaze">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My to-do!</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>

<body>
    <div class="loginbox">
        <h2>Welcome to my<strong> to-do list</strong> App feel at home!</h2>
        <form action="login.html">
            <label>
                <p>Username</p>
                <input type="text" name="name" placeholder="Bekalaze joseph" />
            </label>
            <label>
                <p>Contact email</p>
                <input type="text" name="name" placeholder="enter email" />
            </label>
            <label>
                <p>Enter password</p>
                <input type="password" name="password" placeholder="Enter password" />
            </label>
            <label>
                <p>Confirm Password</p>
                <input type="password" name="pasword" placeholder="Confirm Password" />
            </label>
            <input type="submit" value="Reset" />
        </form>
    </div>
</body>
</html>