<!DOCTYPE html>
<html>
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="author" content="Bekalaze">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My to do !</title>

    </head>
    <body id="boom">
        <form>
            <label>
                <h1>Reset Password</h1>
                    <p>password</p>
                    <input type="password" name="password" placeholder="Enter password">
                    </label>
                    <label>
                        <p>Enter Password</p>
                    <input type="password" name="pasword" placeholder="Confirm Password">
                    <a href="login.html">Submit</a>
                    </label>
                    </form>
    </body>
</html>